[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
WorkingDirectory=/srv/minecraft
ExecStart=/srv/minecraft/jvm/jdk-17.0.1+12/bin/java -Xmx512M -Xms32M -jar server.jar nogui

[Install]
WantedBy=multi-user.target
